<h1>ClientsidePublishings#index</h1>

<% if @client_settings.nil? %>
 <h2>Looks like you're not saving clientside</h2>
 <%= link_to "LET'S CHANGE THAT, EH?!", new_profile_client_publish_path %>
<% else %>
  <strong>Current testing method:</strong> <%= @client_settings.method %>
  <br />
  <%= link_to "Test FTP", test_ftp_path, :class => "btn" %>
  <br />
  <%= link_to "Test SFTP", test_sftp_path, :class => "btn" %>
  <br />
  <%= link_to "Test SCP", test_scp_path, :class => "btn" %>
<% end %>
